.sec {
  background-color: white;
  width: 90%;
  margin-top: 12%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.351);
  margin-left: 5%;
  border-radius: 10px;
  margin-bottom: 20%;
  overflow-x: auto;
}

#shared-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#shared-table-header h2 {
  margin: 0;
}

.shared-search {
  padding: 5px;
  font-size: 14px;
}

#shared-table-p {
  background-color: rgba(148, 80, 3, 0.582);
  text-align: center;
  font-size: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.shared-table {
  width: 100%;
  border-collapse: collapse;
}

.shared-th, .shared-td {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  border: 1px solid #ddd;
}

.shared-td {
  border-top: 1px solid;
  color: #333;
}

.shared-th {
  background-color: #4CAF50;
  color: white;
}

.shared-tr {
  background-color: #f2f2f2;
}

.shared-tr-even {
  background-color: #f9f9f9;
}

.shared-tr-odd {
  background-color: #fff;
}

.shared-tr:hover {
  background-color: #ddd;
}

.fa-trash {
  color: red;
}

.fa-pen-to-square {
  color: green;
}

.fa-trash:hover, .fa-pen-to-square:hover {
  color: black;
}

.Ins-Link {
  background-color: #f76b07;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
